/* les bases  */

 h1 {
    color: #fff; 
    font-size: 25px;
    padding: 10px;
    margin-left: 38px;
 }
 h2 {
     color: #084270;
     font-size: 20px;
     margin-top: 35px;
 }
 a {
     color: #fff;
 }
 ul {
     list-style: none;
 }
 .pStyl {
     color: #8d8d8d;
     font-size: 12px;
 }
 .strong {
     font-weight: bold;
 }
 
 /* LES COULEURS */
 .cyan {
     color: #0c99c8;
 }
 .btn-green {
     background-color: #b2cd1d;
 }
 .btn-cyan {
     background-color: #0c99c8;
     color: #000 !important;
 }
 
 /* HEADER */
 header {
     background-color: #1569b2;
     position: relative;
 }
 .pHeader {
     padding: 10px;
     margin-left: 300px;
 }
 .pHeader > i {
     margin-left: 20px;
     font-size: 25px;
 }
 
 /* BLOC TEXTE SOUS LE MENU */
 .bCyan {
     background-color: #0c99c8;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     width: 990px;
     position: relative;
     left: -20px;
     z-index: 10;
 }
 .bCyan p {
     z-index: 9;
 }
 
 /* MENUS */
 nav.menu {
     background-color: #003664;
     height: 55px;
     position: relative;
 }
 nav ul.lShop {
     display: flex;
 }
 nav ul.lShop li {
     list-style: none;
     color: #fff;
     padding: 10px;
 }
 nav ul.lShop li > a {
     color: #fff;
 }
 nav.menu div.container {
     position: relative;
     z-index: 99;
 }
 .lShop  {
     margin-top: 15px;
     position: relative;
     float: left;
     z-index: 99;  
 }
 .lShop li {
     background-color: #04264c;
     height: 100px;
     margin-right: 8px;
     border-radius: 5px;
 }
 .lShop li:hover {
     background-color: #0c99c8;
 }
 .lShop li > a {
     display: block;
     height: 100px;
     width: 150px;
 }
 .lShop li:last-child > a {
     width: 100px;
 }
 .lShop li > a:hover {
     text-decoration: none;
     color: #fff;
     width: 150px;
 }
 .lShop li:last-child > a:hover {
     width: 100px;
 }
 .lShop li:first-child {
     margin-right: 0;
 }
 .lAccount {
     margin-left: 42px;
     margin-top: 15px;
 }
 .lAccount li > a {
     font-size: 14px;
 }
 .lAccount li > a:hover {
     text-decoration: none;
     color: #fff;
 }
 ul.lAccount {
     display: flex; 
 }
 ul.lAccount li {
     list-style: none;
     width: 150px;
 }
 
 div.container:nth-child(3) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) {
     text-align: right;
     padding-top: 15px;
     color: #fff;
 }
 
 /* surcharger une classe existante */
 .btn {
     color: #fff;
 }
 .register {
     margin-left: 212px;
     padding-top: 15px;
     display: flex;
 }
 .register li:first-child {
     margin-top: 6px;
 }
 .register li:last-child {
     margin-left: 30px;
 }
 
 .loc {
     display: flex;
     background-color: #003664;
     color: #fff;
     width: 990px;
     border-radius: 5px;
     position: relative;
     margin-top: 400px;
     left: -20px;
 }
 .loc p, .loc form {
     padding-top: 15px;
     margin-left: 25px;
 }
 
 /* ICONES ET TABLEAU */
 .content {
     background-color: #fff;
     padding: 10px;
     border-radius: 5px;
     margin-top: 35px;
     margin-left: -80px;
 }
 .badge-secondary {
     color: #0c99c8;
     background-color: #fff;
     height: 25px;
     width: 25px;
     border-radius: 40px;
     padding-top: 7px;
 }
 .loc form select {
     width: 200px;
     background-color: #fff;
 }
 .btn-group-vertical  {
     margin-left: 45px;
     margin-top: 35px;
 }
 .btn-group-vertical button {
     margin-bottom: 10px;
     border-radius: 5px !important;
 }
 
 /* Mettre en couleur une ligne sur 2 dans un tableau   */
 .table-striped tbody tr:nth-of-type(odd) {
     background-color: #fbffe2;
 }
 .table td {
     border-top: none;
 }
 .table:last-child {
     margin-bottom: 80px;
 }
 .lLink {
     color: #b2cd1d;
 }
 .lLinkb {
     color: #0c99c8;
 }
 .lGray {
     color: #b8b8b8;
 }
 .tdBorder {
     border: 1px solid #ccc;
     border-radius: 5px;
 }
 
 
 
 /*  ON PEUT CIBLER DIRECTEMENT L ELEMENT QUI NOUS CONCERNE */
 .table > tbody:nth-child(1) > tr > td:nth-child(2),
 .table > tbody:nth-child(1) > tr > td:nth-child(3) {
     font-size: 13px;
 }
 
 /*
 table:last-child > tbody:nth-child(1) > tr > td:nth-child(2),
 table:last-child > tbody:nth-child(1) > tr > td:nth-child(4) {
     font-size: 13px;
 }
 */
 
 /* ou positionner la balise hr
 .table {
     border-bottom: 1px solid #ccc;
 }*/
 
 /* AUTRE METHODE PLUS SIMPLE */
 .lFont {
     font-size: 13px;
 }
 
 table:last-child.table-striped tbody tr:nth-of-type(odd) {
     background-color: #f3fbfd;
 }
 
 /* FOOTER */
 footer nav.menu{
     height: 500px;

 }
 footer h3 {
     font-size: 18px;
     color: #fff;
     margin-top: 50px;
 }
 footer nav.menu li  {
     margin-left: -40px;
 }
 footer nav.menu li > a {
     color: #0c99c8;
 }
 footer nav.menu li > a:hover {
     text-decoration: none;
 }
 footer div.col-2:nth-child(5) > h3:nth-child(1) {
     font-weight: bold;
 }
 footer div.col-2:nth-child(5) > h3:nth-child(1) > span.badge-secondary {
     background-color: #1569b2;
     border-radius: 5px;
 }
 footer div.col-2:nth-child(5) > h3:nth-child(1) > span > i {
     font-size: 12px;
     color: #000;
 }
 footer p {
     font-size: 15px;
     color: #1569b2;
 }
 
 
iframe{
    width: 100%;
    position: absolute;
    float: left;
    z-index: 0;
}